/*clear*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.block {
	border: 2px solid #000000;
	height: 100px;
	width: 400px;
	margin: 50px auto;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00efdf+0,963030+14,963030+14,a1ff87+36,a1ff87+66,963030+92,3f27db+100 */
	background: #00efdf; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #00efdf 0%, #963030 14%, #963030 14%, #a1ff87 36%, #a1ff87 66%, #963030 92%, #3f27db 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #00efdf 0%,#963030 14%,#963030 14%,#a1ff87 36%,#a1ff87 66%,#963030 92%,#3f27db 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #00efdf 0%,#963030 14%,#963030 14%,#a1ff87 36%,#a1ff87 66%,#963030 92%,#3f27db 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00efdf', endColorstr='#3f27db',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}